<div class="freditor">
	{% if widget.attrs.allowed_btns %}
		<div class="controls_btns">
			<div class="buttons">
				{% for name, tooltip in widget.attrs.allowed_btns.items %}
					{% if name == 'file' %}
						<input type="file" id='load_file' data-url='{% url "admin:add_file" %}' data-load='file'>
						<label for='load_file' class="btn {{name}}" data-tooltip='{{tooltip}}' data-btn='{{name}}'></label>
					{% else %}
						<div class="btn {{name}}" data-tooltip='{{tooltip}}' data-btn='{{name}}' tabindex="0"></div>
					{% endif %}
				{% endfor %}
			</div>
			{% if widget.attrs.allowed_btns.link %}
				<div class='add_link hidden'>
					<input type="text" placeholder="Введіть адресу веб-сторінки..." autocomplete="off" class="link_value">
					<button class="submit_link" data-submit-link='link'>ОК</button>
				</div>
			{% endif %}
			{% if widget.attrs.allowed_btns.image %}
				<div class="add_image hidden">
					<input type="text" placeholder="Введіть адресу зображення..." autocomplete="off" class="link_value">
					<button class="submit_link" data-submit-link='image'>ОК</button>
					<div class="load_image">
						<input type="file" id='image_load' accept="image/*" data-url='{% url "admin:add_image" %}' data-load='image'>
						<label for="image_load">Завантажити зображення</label>
					</div>
					<button class="get_gallery" data-get-overlay='gallery' data-name='{{ widget.name }}' data-get-url='{% url "admin:get_images" %}' data-url-delete='{% url "admin:delete_image"%}'>Вибрати з галереї</button>
				</div>
			{% endif %}
		</div>
	{% endif %}
	<textarea name="{{ widget.name }}" class='main_body' {% for name, value in widget.attrs.items %}{% if value is not False and name != 'allowed_btns' %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}{% endfor %} data-textarea='true' placeholder="Основна частина">{% if widget.value %}{{ widget.value }}{% endif %}</textarea>
	<div class="additions" {% if not widget.additions %} data-hidden="true" {% endif %} data-additions='true'>
		{% if widget.additions %}
			{{widget.additions}}
		{% endif %}
	</div>
</div>
