.box_wrapper{
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	font-size: 20px;
}
.box_input{
	outline: .2vw dashed #92b0b3;
    outline-offset: -1vw;
	background-color: #c9dfea;
	position: relative;
	padding: 9vw 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 40vw;
	height: 40vw;
	text-align: center;
	transition: outline-offset .2s, background-color .2s;
}
.is_dragover{
	outline-offset: -1.4vw;
	background-color: #add8ed;
}
#box_file{
	width: .1px;
	height: .1px;
	overflow: hidden;
	opacity: 0;
	position: absolute;
}
#box_file + label b{
	transition: color .2s, font-size .2s;
}
#box_file + label{
	max-width: 90%;
	display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#box_file:focus + label b, #box_file + label b:hover{
	color: #000;
	font-size: 101%;
}
.box_upload{
	width: 10vw;
	height: 10vw;
	margin: 0 auto 2vw auto;
	opacity: .4;
	background: url(../img/upload.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.box_submit{
	display: block;
	float: none;
	margin: 2vw auto;
	font-size: inherit;
	background-color: #2779a1 !important;
	transition: background-color .2s;
	outline: none;
	padding: .7em 1.2em!important;
}
.box_submit:focus, .box_submit:hover{
	background-color: #1c475d !important;
}
.box_dragndrop{
	cursor: pointer;
	font-size: inherit;
}
.preview{
	width: 40vw;
	height: 40vw;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	font-size: 1.5vw;
	font-weight: bold;
}
.img_preview{
	background-color: #000;
	max-width: 100%;
	max-height: 100%;
	transition: all .2s;
	border-radius: .4vw;
	-webkit-box-shadow: 0 0 1vw #000;
	box-shadow: 0 0 1vw #000;
}
.img_preview:hover{
	opacity: .95;
}
@media (max-width: 1440px){
	.box_wrapper{
		font-size: 14px;
	}
}
@media (max-width: 1024px){
	.box_wrapper{
		font-size: 12px;
	}
}
@media (max-width: 768px){
	.box_wrapper{
		flex-direction: column;
		align-items: center;
	}
	.preview{
		width: 60vw;
		height: 60vw;
		margin-top: 5vw;
	}
	.box_input{
		width: 60vw;
		height: 50vw;
		padding: 12vw 0;
	}
}
@media (max-width: 640px){
	.box_input{
		width: 70vw;
		height: 60vw;
		padding: 16vw 0;
	}
	.preview{
		width: 70vw;
		height: 70vw;
	}
}
@media (max-width: 520px){
	.box_wrapper{
		font-size: 10px;
	}
}
@media (max-width: 430px){
	.box_input{
		width: 90vw;
		height: 90vw;
		padding: 28vw 0;
	}
	.preview{
		width: 90vw;
		height: 90vw;
	}
}
